body {
    background-color: #35374B;
    margin:0;
    display: flex;
    flex-direction: row;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('./Assets/Fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('./Assets/Fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('./Assets/Fonts/Inter_24pt-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.imageContainer{
    width: 50%; 
    display: grid;
    place-items: center;
    height: 100svh;
}

.imageContainer #goodDeeds{
    width: 600px;
    height: max-content;
    max-height: 100%;

    padding: 100px;
}


.input {
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input #welcome{
    text-align: center;
    font-weight: bolder;
    font-family: 'Inter-Bold', sans-serif;
    font-size: 5rem;
    color: #64C3BF;
    margin: 0;
}

.input #feelGood{
    text-align: center;
    font-family: 'Poppins-Regular', sans-serif;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 1.5rem;
    color:white;
}

.input #login{
    font-family: 'Poppins-Medium', sans-serif;
}

.input #signUp{
    font-family: 'Poppins-Medium', sans-serif;
}